<h1 class="titulo">{{titulo}}</h1>
<div class="container-description">
    <p>La tabla muestra el listado de alumnos matriculados y no matriculados para el semestre 2023-A.</p>
</div>

<table class="table table-size">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Edad</th>
        <th scope="col">Correo</th>
        <th scope="col">Matriculado</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Carlos</td>
        <td>Peralta</td>
        <td>33</td>
        <td>carlitos_08@hotmail.com</td>
        <td>Matriculado</td>
    </tr>
    
   <!--  <tr>
        <td>1</td>
        <td>Carlos</td>
        <td>Peralta</td>
        <td>33</td>
        <td>carlitos_08@hotmail.com</td>
        <td>Matriculado</td>
    </tr>
    
    <tr>
        <td>1</td>
        <td>Carlos</td>
        <td>Peralta</td>
        <td>33</td>
        <td>carlitos_08@hotmail.com</td>
        <td>Matriculado</td>
    </tr>
    
    <tr>
        <td>1</td>
        <td>Carlos</td>
        <td>Peralta</td>
        <td>33</td>
        <td>carlitos_08@hotmail.com</td>
        <td>Matriculado</td>
    </tr>
    
    <tr>
        <td>1</td>
        <td>Carlos</td>
        <td>Peralta</td>
        <td>33</td>
        <td>carlitos_08@hotmail.com</td>
        <td>Matriculado</td>
    </tr>
    
    <tr>
        <td>1</td>
        <td>Carlos</td>
        <td>Peralta</td>
        <td>33</td>
        <td>carlitos_08@hotmail.com</td>
        <td>Matriculado</td>
    </tr>
    
    <tr>
        <td>1</td>
        <td>Carlos</td>
        <td>Peralta</td>
        <td>33</td>
        <td>carlitos_08@hotmail.com</td>
        <td>Matriculado</td>
    </tr> -->
    </tbody>
  </table>
  
