<h1 class="titulo">{{titulo}}</h1>
<div class="container-description">
    <p>La tabla muestra el listado de alumnos matriculados y no matriculados para el semestre 2023-A.</p>
</div>

<table class="table table-size">
    <thead>
      <tr>
        <th scope="col">Id.</th>
        <th scope="col">{{"nombre"|uppercase}}</th>
        <th scope="col">{{"apellido"|uppercase}}</th>
        <th scope="col">{{"edad"|uppercase}}</th>
        <th scope="col">{{"correo"|uppercase}}</th>
        <th scope="col">{{"matriculado"|uppercase}}</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let estudiante of estudiantes">
        <td>{{estudiante.id}}</td>
        <td>{{estudiante.nombre}}</td>
        <td>{{estudiante.apellido}}</td>
        <td>{{estudiante.edad}}</td>
        <td>{{estudiante.correo|lowercase}}</td>
        <td [ngStyle] = "{backgroundColor: estudiante.activo ? 'green':'red'}">{{estudiante.matriculado}}</td>
    </tr>
    
   <!--  <tr>
        <td>1</td>
        <td>Carlos</td>
        <td>Peralta</td>
        <td>33</td>
        <td>carlitos_08@hotmail.com</td>
        <td>Matriculado</td>
    </tr>
    
    <tr>
        <td>1</td>
        <td>Carlos</td>
        <td>Peralta</td>
        <td>33</td>
        <td>carlitos_08@hotmail.com</td>
        <td>Matriculado</td>
    </tr>
    
    <tr>
        <td>1</td>
        <td>Carlos</td>
        <td>Peralta</td>
        <td>33</td>
        <td>carlitos_08@hotmail.com</td>
        <td>Matriculado</td>
    </tr>
    
    <tr>
        <td>1</td>
        <td>Carlos</td>
        <td>Peralta</td>
        <td>33</td>
        <td>carlitos_08@hotmail.com</td>
        <td>Matriculado</td>
    </tr>
    
    <tr>
        <td>1</td>
        <td>Carlos</td>
        <td>Peralta</td>
        <td>33</td>
        <td>carlitos_08@hotmail.com</td>
        <td>Matriculado</td>
    </tr>
    
    <tr>
        <td>1</td>
        <td>Carlos</td>
        <td>Peralta</td>
        <td>33</td>
        <td>carlitos_08@hotmail.com</td>
        <td>Matriculado</td>
    </tr> -->
    </tbody>
  </table>
  
